/runs
/uploads/frames
/output/results_*
/output/testing_sclera/frames
*.pyc
/CV_steps/__pycache__
/CV_steps/__pycache__
uploads/IMG_1838.mov
/output
/ML_stuff/exports

# Ignore the entire JetBrains IDE folder by default
.idea/

# Except for these shared team settings
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/vcs.xml
/catseye
/GUI_tk.dist
/CV_steps/__pycache__
/CV_steps/__pycache__
