/runs
/uploads/frames
/output/results_*
/output/testing_sclera/frames
*.pyc

/CV_steps/__pycache__
uploads/IMG_1838.mov

# Ignore the entire JetBrains IDE folder by default
.idea/

# Except for these shared team settings
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/vcs.xml

.idea/catseye-python.iml

/.venv
/__pycache__

ML_stuff/runs/segment/train/weights
